.dialogs {
    display: flex;
    padding: 20px;
}

.dialogs > div:nth-child(2) {
    margin-left: 20%;
}

.user a {
    color: white;
    text-decoration: none;
}

.user a.active {
    color: purple;
}
