.banner img {
    height: 350px;
    width: 100%;
}

.ava img {
    width: 80px;
    border-radius: 50px;
}

.userDescr {
    display: flex;
    padding: 10px;
}

.userDescr > div:nth-child(2) {
    margin-left: 100px;
}
